*{
    margin: 0;
    padding: 0;
   
}
header{
    background-color: #1f2937;
    padding: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    margin-top: 10px;
}
.navbar ul{
   list-style-type: none;
   padding: 0;
   margin: 0;
   overflow: hidden;

}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 18px;
    
}
.navbar a:hover{
   color: wheat;
}
.navbar li{
    float: left;
}